:root {
    --linear: linear-gradient(90deg, #C82CFF -4.52%, #6E4AFF 96.66%);
    --primary: #53CAFD;
    --primary-rgba: 83, 202, 253,;
    --secondary: #E43BFF;
    --primary-hover: #21bafc;
    --primary-dark: #027fb5;
    --font-family-base: Roboto, sans-serif;
    --font-family-title: Roboto, sans-serif;
    --title: #000;
    --text-color: #fff;
    --bs-body-color: rgba(255, 255, 255, 0.3);
    --bs-card-bg: rgba(94, 62, 208, 0.6);
    --bg-circle: linear-gradient(131.92deg, #5811CF 14.55%, rgba(49, 24, 152, 0.5) 95.62%);
    --nav-headbg: rgba(118, 62, 208, 1);
    --sidebar-bg: linear-gradient(180deg, rgba(118, 62, 208, 1) 0%, rgba(46, 27, 160, 1) 155.56%);
    --headerbg: transparent;
    --bs-body-bg: #311898;
    --shadow: 0px 4px 6px rgb(62 73 84 / 4%);
}
ul , ol{
    padding: 0;
    margin: 0;
}
span{
    display: inline-block;
}
li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.nav-header svg , .main-body svg{
    fill: rgba(255, 255, 255, 0.7);
}
@keyframes icon-bounce {

	100%,
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-5px);
	}

	80% {
		transform: translateY(5px);
	}
}

body{
    background-color: var(--bs-body-bg);
    font-family: var(--font-family-base);
}
.animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.nav-header{
    width: 260px;
    height: 100vh;
    background: var(--sidebar-bg);
    position: relative;
}
.nav-header .logo{
    padding: 35px;
}
.slide-bar{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.slide-bar li a{
    width:260px;
    padding:  15px;
    display: flex;
    align-items: center;
}
.slide-bar li a span{
    color: rgba(255, 255, 255, 0.7);  
    font-size: 14px;  
}
.main-icon{
    margin-right: 15px;
}
.copyright{
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 100%;

}
.copyright strong{
    color: var(--bs-white);
    font-size: 14px;
    display: block;
}
.copyright p{
    font-size: 14px;
}
.main-body{
    width: 100%;
}
.navbar{
    background:transparent;
}
.hamburger{
    margin-right:15PX;
    background-color:var(--bs-card-bg);
    padding: 8px 10px;
    border-radius: 10px;
}
.logo-text span{
    font-size: 26px;
    font-weight: 600;
    color: var(--bs-white);   
}
.form-control{
    background: var(--bs-card-bg);
    box-shadow: var(--shadow);
    border: none;
    outline: none;
    color: var(--bs-white);
}
.form-control:focus{
    background: var(--bs-card-bg);
    box-shadow: var(--shadow);
    border: none;
    outline: none;
}
.navbar .form-control::placeholder{
    color: var(--bs-white);
}
.main-wrapper .nav-link{
    color: rgba(255, 255, 255, 0.1);
    border-radius: 0.938rem;
    padding: 0rem;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    line-height: 3.105rem;
    background: var(--bs-card-bg);
}
.navbar-nav> li:not(:first-child){
    padding-left: 1.25em;
}
.user{
    background: var(--bs-card-bg);
    padding:7px 9px;
    border-radius: 0.938rem;
    margin-left: 1.25em;

}
.user-img img{
    width: 40px;
    border-radius: 10px;

}
.user h5{
    margin-bottom: 0;
    font-size: 14px;
    color:var(--bs-white);
    font-weight: 500;
    display: block;
    line-height:0.6;
}
.user span{
    font-size:12px;
    line-height: 0;

}
.nav-item:hover svg{
    animation: icon-bounce 0.8s cubic-bezier(0.57, -0.72, 1, 0.76) both 1;   
}
.nav-item{
    position: relative;
}
.nav-item::after{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--bs-white);
    top: 0;
    right: 0;
    border-radius: 50%;
}
.dropdown-menu{
    --bs-dropdown-border-radius:10px;
    position: absolute;
    right: 0;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    /* min-width: var(--bs-dropdown-min-width); */
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}
.dropdown-menu[data-bs-popper] {
    left: -270px;
}
.dropdown-item{
    color: var(--bs-white);
    display: flex;
    padding: 12px 10px;
    border-bottom: 0.5px solid var(--bs-body-color);
}
.dropdown-item:focus, .dropdown-item:hover{
}
/* .dropdown-item img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 15px;
} */
.dropdown-item p{
    margin-bottom: 0;
    font-size: 14px;
}
.dropdown-item span{
    font-size: 12px;
    font-weight: 200;
}

.media{
width: 3.125rem;
height: 3.125rem;
background: #eee;
border-radius: 0.75rem;
overflow: hidden;
font-size: 1.25rem;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
align-self: start;
background: rgba(0, 175, 239, 0.15);
color: #00afef;
margin-right: 15px;
}
.media-info{
    background: rgba(0, 175, 239, 0.15);
    color: #00afef;
}
.media-info-2{
    background: rgba(247, 43, 80, 0.15);
    color: #f72b50;
}
.dropdown-item .media{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}
.media-icon i{
    font-size: 30px;
    color: #1EAE7A;
}
.media-icon-2 i{
    font-size: 30px;
    color: var(--primary);
}
/* .sub-dropdown{
    transition: all 1s ease;

}
.sub-dropdown .sub-dropdown-menu{
    display: none;
    transition: all 1s ease;
}
.sub-dropdown:hover .sub-dropdown-menu{
    display: block;
    transition: all 1s ease;

}
body{
    transition: all 1s ease;
} */