:root {
    --linear: linear-gradient(90deg, #C82CFF -4.52%, #6E4AFF 96.66%);
    --primary: #53CAFD;
    --primary-rgba: 83, 202, 253, ;
    --secondary: #E43BFF;
    --primary-hover: #21bafc;
    --primary-dark: #027fb5;
    --font-family-base: Roboto, sans-serif;
    --font-family-title: Roboto, sans-serif;
    --title: #000;
    --text-color: #fff;
    --bs-body-color: rgba(255, 255, 255, 0.3);
    --bs-card-bg: rgba(94, 62, 208, 0.6);
    --bg-circle: linear-gradient(131.92deg, #5811CF 14.55%, rgba(49, 24, 152, 0.5) 95.62%);
    --nav-headbg: rgba(118, 62, 208, 1);
    --sidebar-bg: linear-gradient(180deg, rgba(118, 62, 208, 1) 0%, rgba(46, 27, 160, 1) 155.56%);
    --headerbg: transparent;
    --bs-body-bg: #311898;
    --shadow: 0px 4px 6px rgb(62 73 84 / 4%);
}

ul,
ol {
    padding: 0;
    margin: 0;
}

span {
    display: inline-block;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

.nav-header svg,
.main-body svg {
    fill: rgba(255, 255, 255, 0.7);
}

@keyframes icon-bounce {

    100%,
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    80% {
        transform: translateY(5px);
    }
}

body {
    background-color: var(--bs-body-bg);
    font-family: var(--font-family-base);
}

.animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.nav-header {
    width: 260px;
    height: 100vh;
    background: var(--sidebar-bg);
    position: fixed;
    border-top-right-radius:25px;
}

.nav-header .logo {
    padding: 35px;
}

.slide-bar {
    width: 100%;
    height: 100%;
}

 .nav-header .slide-bar li a {
    width: 260px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.slide-bar li a span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.main-icon {
    margin-right: 15px;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 100%;

}

.copyright strong {
    color: var(--bs-white);
    font-size: 14px;
    display: block;
}

.copyright p {
    font-size: 14px;
}

.main-body {
    width: 100%;
}

.navbar {
    background: transparent;
}

.hamburger {
    margin-right: 15PX;
    background-color: var(--bs-card-bg);
    padding: 8px 10px;
    border-radius: 10px;
}

.logo-text span {
    font-size: 26px;
    font-weight: 600;
    color: var(--bs-white);
}

.form-control {
    background: var(--bs-card-bg);
    box-shadow: var(--shadow);
    border: none;
    outline: none;
    color: var(--bs-white);
}

.form-control:focus {
    background: var(--bs-card-bg);
    box-shadow: var(--shadow);
    border: none;
    outline: none;
}

.navbar .form-control::placeholder {
    color: var(--bs-white);
}

.main-wrapper .nav-link {
    color: rgba(255, 255, 255, 0.1);
    border-radius: 0.938rem;
    padding: 0rem;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    line-height: 3.105rem;
    background: var(--bs-card-bg);
}

.navbar-nav>li:not(:first-child) {
    padding-left: 1.25em;
}

.user {
    background: var(--bs-card-bg);
    padding: 7px 9px;
    border-radius: 0.938rem;
    margin-left: 1.25em;

}

.user-img img {
    width: 40px;
    border-radius: 10px;

}

.user h5 {
    margin-bottom: 0;
    font-size: 14px;
    color: var(--bs-white);
    font-weight: 500;
    display: block;
    line-height: 0.6;
}

.user span {
    font-size: 12px;
    line-height: 0;

}

.nav-item:hover svg {
    animation: icon-bounce 0.8s cubic-bezier(0.57, -0.72, 1, 0.76) both 1;
}

.nav-item {
    position: relative;
}

.nav-item::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--bs-white);
    top: 0;
    right: 0;
    border-radius: 50%;
}

.dropdown-menu {
    --bs-dropdown-border-radius: 10px;
    position: absolute;
    right: 0;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    /* min-width: var(--bs-dropdown-min-width); */
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

.dropdown-menu[data-bs-popper] {
    left: -270px;
}

.dropdown-item {
    color: var(--bs-white);
    display: flex;
    padding: 12px 10px;
    border-bottom: 0.5px solid var(--bs-body-color);
}

.dropdown-item p {
    margin-bottom: 0;
    font-size: 14px;
}

.dropdown-item span {
    font-size: 12px;
    font-weight: 200;
}

.sub-dropdown-menu {
    display: none;
}

.media {
    width: 3.125rem;
    height: 3.125rem;
    background: #eee;
    border-radius: 0.75rem;
    overflow: hidden;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    align-self: start;
    background: rgba(0, 175, 239, 0.15);
    color: #00afef;
    margin-right: 15px;
}

.media-info {
    background: rgba(0, 175, 239, 0.15);
    color: #00afef;
}

.media-info-2 {
    background: rgba(247, 43, 80, 0.15);
    color: #f72b50;
}

.dropdown-item .media {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.media-icon i {
    font-size: 30px;
    color: #1EAE7A;
}

.media-icon-2 i {
    font-size: 30px;
    color: var(--primary);
}

.sub-dropdown-menu li a {
    padding-left: 70px;
    position: relative;
}

.sub-dropdown-menu li a::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 1px;
    background-color: var(--bs-white);
    top: 50%;
    left: 60PX;
    transform: translatex(-50%);
}

.card {
    background-color: #5e3ed099;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    margin-bottom: 30px;
}

.card-body {
    /* padding: 24px; */
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;

}

.card-header h3 {
    font-size: 16px;
    margin: 0;
}

.card-header form label {
    margin-right: 15px;
}

.students {
    display: flex;
}

.income span {
    font-size: 12px;
    text-transform: capitalize;
}

.card-header h3 {
    font-size: 16px;
    color: var(--bs-white);
    font-weight: 600;
}

.card-header form label {
    font-size: 14PX;
    text-transform: capitalize;
    color: var(--bs-white);
    font-weight: 400;
}

.dropdown svg path {
    fill: var(--bs-white);
}

.income .arrow span {
    color: var(--bs-light);
}

.income .arrow p {
    color: var(--bs-white);
    font-size: 14px;
    font-weight: 600;
}

.text h3 {
    font-size: 24px;
    color: var(--bs-white);
    font-weight: 600;
    margin-bottom: 0;
}

.text span {
    font-size: 12px;
    margin-bottom: 5px;
}

.text p {
    font-weight: 400;
    font-size: 12px;
    color: var(--bs-white);
}

.students {
    align-items: center;
}

.students .icon {
    margin-left: auto;
}

.progressbar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    backdrop-filter: unset;
}

.progressbar .card-header {
    padding: 20px 0px;
}

.progress-text {
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 14px;
}

.progress-text strong {
    font-size: 14px;
    font-weight: 600;
    color: var(--bs-white);
}

.progress-text span {
    font-size: 12px;
}

.progress {
    height: 8px;
}

.progress-bar {
    width: 90%;
    background: var(--linear);
}

.tags {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: unset;
}

.tag {
    display: inline-block;
    padding: 0.625rem 0.875rem;
    margin-bottom: 1rem;
    margin-right: 0.313rem;
    background: rgba(255, 255, 255, 0.1);
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 0.638rem;
    transition: 0.5s;
}

.tags .tag:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.Contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.Contacts .dp img {
    width: 50px;
    border-radius: 8px;
    margin-right: 15px;
}

.Contacts .dp-name p {
    color: var(--bs-white);
    font-size: 14px;
    font-weight: 500;
}

.Contacts .dp-name span {
    font-size: 12px;
    font-weight: 400;
}

.Contacts .icon {
    margin-left: auto;
}

.btn-block {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.638rem 1.5rem;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    color: var(--bs-white);
    width: 100%;
}
.main-body{
    margin-left: 260px;
    margin-top: 72px;
}
header{
    position: fixed;
    top: 0;
    width: calc(100vw - 270px);
    z-index: 99;

}
.fixed-header{
    position: fixed;
    top: 0;
    width: calc(100vw - 270px);
    background-color: var(--bs-body-bg);
}

.nav-header.sidebar{
    width:100px;
}
.nav-header.sidebar .logo{
    padding: 0;
    padding: 20px 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-header.sidebar .logo .brand-title{
    display: none;
}
.nav-header.sidebar .slide-bar .sub-dropdown a span{
    display: none;
}
.nav-header.sidebar .slide-bar li a{
    width: unset;
    justify-content: center;
    padding: 15px 8px;
}
.nav-header.sidebar~.main-body{
    margin: 100PX;
    transition: all 0.5S ease;
}